/* HEADER */
@import "../utilities/mixins";

.header {
  background-color: #161618;
  position: sticky;
  top: 0;
  z-index: 10;

  // HEADER: LAYOUT
  &__layout {
    @include flex-base(row, 0);
    @include flex-alignment(space-between, center);
    @include measures(120rem, 5.5rem);
    margin: auto;
  }

  @media (max-width: 79.125rem) {
    &__layout {
      @include measures(100%, auto);
      padding: 1.6rem 2rem;
    }
  }

  // HEADER: LOGO
  &__logo {
    @include measures(auto, 2.8rem);
  }

  // HEADER: MENU
  &__menu {
    @include flex-base(row, 1.6rem);
    @include flex-alignment(center, center);

    i {
      font-size: 2.6rem;
      color: #a2a2a2;
      transition: 0.3s;

      &:hover {
        color: #ffffff;
      }
    }
  }
}
