/* GENERAL */
@import "../utilities/mixins";

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Rubik", sans-serif;
  background-color: #2d2d2f;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.4rem;

  // BODY: LAYOUT
  &__layout {
    @include flex-base(column, 0);
  }
}
