/* RESET */
* {
  box-sizing: border-box;
}

html,
body,
div,
section,
figure,
p,
a,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

button,
i {
  cursor: pointer;
}
